.column-pagespeed_score {
    width: 140px;
}
.pagespeed-indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}
.pagespeed-score {
    display: inline-block;
    vertical-align: middle;
}
.pagespeed-indicator.no-test {
    background-color: #ccc;
}
.pagespeed-indicator.good {
    background-color: #0a0;
}
.pagespeed-indicator.average {
    background-color: #fa3;
}
.pagespeed-indicator.poor {
    background-color: #e33;
}
.pagespeed-device {
    display: inline-block;
    margin-right: 10px;
    white-space: nowrap;
}
.pagespeed-device i {
    width: 16px;
    margin-right: 4px;
    color: #666;
}
.pagespeed-score {
    font-weight: 500;
}
.quick-test-button {
    padding: 2px 8px;
    font-size: 11px;
    margin-top: 4px;
    display: block!important;
}
.pagespeed-test-status {
    color: #666;
    font-style: italic;
/*                    display: inline-block; */
    margin-left: 5px;
    vertical-align: middle;
}
.pagespeed-test-status .spinner {
    float: none;
    margin: 0 4px 0 0;
}
.pagespeed-scores {
    white-space: nowrap;
}
.unpublished-notice {
color: #999;
font-style: italic;
font-size: 11px;
margin-left: 5px;
vertical-align: middle;
display: block;
}
